h2 {
  text-align: center;
}

body {
  background-color: lightgray;
}

.footer {
  text-align: center;
  bottom: 0;
  position: fixed;
}

.imgs {
  width: 5%;
  height: auto;
  text-align: center;
  margin: 10px;
}

.form {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}

.header {
  text-align: center;
}

a {
  margin: 10px;
}

.input {
  text-align: center;
}

.form-add {
  text-align: center;
}
