#foto {
  border-radius: 50%;
  width: 125px;
}

#foto-projeto {
  width: 200px;
}

#cabecalho {
  text-align: center;
}

article {
  position: relative;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

aside {
  text-align: center;
  margin-top: 20px;
}

body {
  text-align: center;
  /* display: inline-table; */
  background-color: aliceblue;
  align-content: center;
}
